# Imports

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("train.tsv",sep='\t')

df.head(5)

,train_id,name,item_condition_id,category_name,brand_name,price,shipping,item_description
0,0,MLB Cincinnati Reds T Shirt Size XL,3,Men/Tops/T-shirts,NaN,10.0,1,No description yet
1,1,Razer BlackWidow Chroma Keyboard,3,Electronics/Computers & Tablets/Components & P...,Razer,52.0,0,This keyboard is in great condition and works ...
2,2,AVA-VIV Blouse,1,Women/Tops & Blouses/Blouse,Target,10.0,1,Adorable top with a hint of lace and a key hol...
3,3,Leather Horse Statues,1,Home/Home Décor/Home Décor Accents,NaN,35.0,1,New with tags. Leather horses. Retail for [rm]...
4,4,24K GOLD plated rose,1,Women/Jewelry/Necklaces,NaN,44.0,0,Complete with certificate of authenticity

In [3]:
df[['subcat_A', 'subcat_B', 'subcat_C']] = df["category_name"].str.split(pat = "/", expand = True, n = 2)


gdf = df.groupby(by = ['subcat_A','subcat_B', 'subcat_C']).mean().reset_index()

In [4]:
train_avg = df['price'].mean()
print("The training set's average `price` value is:", train_avg)


def my_predictor_(x1_input, x2_input, x3_input):
    pre_return_df = gdf[(gdf['subcat_A'] == x1_input) & (gdf['subcat_B'] == x2_input) & (gdf['subcat_C'] == x3_input)]
    if len(pre_return_df) == 0:
        return train_avg 
    else:
        ret_arr = pre_return_df['price'].to_numpy() 
        return ret_arr[0]

The training set's average `price` value is: 26.737516146330442

In [5]:
print(my_predictor_(x1_input = 'Beauty', x2_input = 'Bath & Body', x3_input = 'Soap'))

26.737516146330442

In [6]:
def my_predictor(input_arr):
    return [my_predictor_(x1_input = s[0], x2_input = s[1], x3_input = s[2]) for s in input_arr] # Recall this is a list comprehension

In [7]:
my_arr = np.array([['Beauty','Bath & Body', 'Bath'],['Beauty','Bath & Body', 'Bathing Accessories'],['Beauty','Bath & Body', 'Cleansers'],['Beauty','Bath & Body', 'Other'],['Beauty','Bath & Body', 'Scrubs & Body Treatments']])

print(my_predictor(my_arr))

[18.48187759952466, 21.882530120481928, 13.564315352697095, 20.46938775510204, 24.64039408866995]